﻿@model ML.Usuario
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                @using (Html.BeginForm("Registro", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", @class = "login" }))
                {
                    <div class="login__field">
                        <label>Nombre</label>
                        @Html.TextBoxFor(model => Model.Nombre, new { @class = "login__input" })
                    </div>
                    <div class="login__field">
                        <label>Apellido Paterno</label>
                        @Html.TextBoxFor(model => Model.ApellidoPaterno, new { @class = "login__input" })
                    </div>
                    <div class="login__field">
                        <label>Apellido Materno</label>
                        @Html.TextBoxFor(model => Model.ApellidoMaterno, new { @class = "login__input" })
                    </div>
                    <div class="login__field">
                        <label>Email</label>
                        @Html.TextBoxFor(model => Model.Email, new { @class = "login__input" })
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" placeholder="Password" class="login__input" name="password" id="password">
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Registrar</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                }
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>
</html>